*{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.but{
    font-family: Arial;
    padding: 10px;
    font-size: 20px;
    border: hidden;
    outline: none;
}
#navbar{
    font-size: 0;
}
.r{
    color: #660000;
    background-color: red;
}
.g{
    color: #006600;
    background-color: green;
}
.b{
    color: #660066;
    background-color: blue;
}
.y{
    color: #000000;
    background-color: #ffdd66;
}

